doctype
html
	head
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/normalize.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700")
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/fonts.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/nanoscroller.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/active.css")
		title= title
	body
		#header
			#logo Fluidtalk
			.top-links
				a(data-bind="click: navigation.desktop, visible: !navigation.showingDesktop()") Back to Conversations
				a(data-bind="click: navigation.all, visible: navigation.showingDesktop") All Conversations
				span |
				a(href="/logout") Logout
				
		#convos(data-bind="with: desktop, visible: navigation.showingDesktop")
			#convo-left.convo(data-bind="with: leftConversation, visible: hasLeftConversation")
				.convo-header-topic-set(data-bind="visible: settingTopic")
					input(placeholder="Write a topic or question", data-bind="value: topic, valueUpdate: 'afterkeydown', event: { keypress: create }")
				.convo-header(data-bind="visible: !settingTopic()")
					.topic(data-bind="text: topic")
					.created-by 
						span by 
						span(data-bind="text: createdBy")
				.nano.convo-body
					.content(data-bind="foreach: messages, visible: !settingTopic()")
						.message
							.author(data-bind="text: createdBy")
							.time(data-bind="text: timestamp")
							.text(data-bind="text: content")
				.convo-new-message(data-bind="visible: !settingTopic()")
					textarea(placeholder="Write a new message", rows="2", data-bind="value: newMessage, valueUpdate: 'afterkeydown', event: { keypress: sendMessage }")	
			#convo-right.convo(data-bind="with: rightConversation, visible: hasRightConversation")
				.convo-header
					.topic(data-bind="text: topic")
					.created-by 
						span by 
						span(data-bind="text: createdBy")
				.nano.convo-body
					.content(data-bind="foreach: messages")
						.message
							.author(data-bind="text: createdBy")
							.time(data-bind="text: timestamp")
							.text(data-bind="text: content")
				.convo-new-message
					textarea(placeholder="Write a new message", rows="2", data-bind="value: newMessage, valueUpdate: 'afterkeydown', event: { keypress: sendMessage }")
		#strip(data-bind="with: desktop, visible: navigation.showingDesktop")
			#convo-tiles(data-bind="foreach: conversations")
				.tile(data-bind="css: { highlight: focused }, click: $parent.focus")
					.tile-text(data-bind="text:topic")
					.tile-icons
						.icon-move-handle(data-bind="click: function(){}, clickBubble: false")
						.icon-dismiss(data-bind="click: $parent.remove")
						.tile-counter(data-bind="visible: showUnreadCounter, text: unreadCounter")
			#new-convo-tile(data-bind="click: $parent.addNewConversation, css: { disabled: $parent.addingNewConversation }")				
				.icon-plus
				#new-convo-text New Conversation
		#all-convos(data-bind="visible: !navigation.showingDesktop(), foreach: allConversations.pairs")
			.convo-pair(data-bind="foreach: $data")				
				.convo(data-bind="click: $root.allConversations.open")
					.header
						.left(data-bind="css: { 'with-out-counter': unreadCounter() <= 0, 'with-counter': unreadCounter() > 0 }")
							.topic(data-bind="text: topic")
							.created-by
								span by 
								span(data-bind="text: createdBy")
						.right(data-bind="visible: unreadCounter() > 0")
							.counter(data-bind="text: unreadCounter")
					.messages(data-bind="foreach: lastMessages")
						.message
							.author(data-bind="text: createdBy")
							.time(data-bind="text: simpleTimestamp")
							.text(data-bind="text: content")
					.no-messages(data-bind="visible: lastMessages().length <= 0")
						.message There aren't any messages in this conversation.

input#conversations(type="hidden", value=conversations)
input#desktop(type="hidden", value=desktop)
input#currentUser(type="hidden", value=currentUser)

script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
script(type="text/javascript", src="/scripts/lib/jquery.nanoscroller.min.js")
script(type="text/javascript", src="/scripts/lib/jquery.hoverIntent.min.js")
script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.0.js")
script(type="text/javascript", src="/scripts/lib/date.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/scripts/client/message.js")
script(type="text/javascript", src="/scripts/client/conversation.js")
script(type="text/javascript", src="/scripts/client/desktop.js")
script(type="text/javascript", src="/scripts/client/allConversations.js")
script(type="text/javascript", src="/scripts/client/viewModel.js")
script(type="text/javascript", src="/scripts/client/active.js")