#all-convos
	.search(data-bind="visible: navigation.showingAll")
		input.field(type="text", name="topic-search", placeholder="Search topics", data-bind="value: app.topicSearch, valueUpdate: 'input'")
		.divide
	.content(data-bind="visible: navigation.showingAll, foreach: allConversations.sortedConversations")
		.convo(data-bind="visible: search.topicMatched")
			.header
				.icons
					span.icon-expand(data-bind="click: $root.allConversations.toggleMessages")
					span.icon-collapse.hidden(data-bind="click: $root.allConversations.toggleMessages")
				.info
					.topic
						span(data-bind="text: topic, click: $root.allConversations.open")
					.created-by
						span(data-bind="text: createdBy")
						span |
						span(data-bind="text: timestamp")
				.counter-container
					.counter(data-bind="visible: unreadCounter() > 0, text: unreadCounter")

			.messages.hidden(data-bind="foreach: lastMessages")
				.message
					.author(data-bind="text: createdBy")
					.time(data-bind="text: timestamp")
					.text(data-bind="html: content")
			.no-messages.hidden
				.message There aren't any messages in this conversation.