#archive
	.search(data-bind="visible: navigation.showingArchive")
		input.field(type="text", name="topic-search", placeholder="Search topics", data-bind="value: archive.topicSearch, valueUpdate: 'input'")
		.divide
	.content(data-bind="visible: navigation.showingArchive, foreach: archive.collaborationObjects")
		.convo
			.header
				.info
					.topic
						span(data-bind="text: topic, click: $root.archive.open")
					.metadata
						span(data-bind="text: lastActivityMessage")
						span  Created by  
						span(data-bind="text: createdBy")
						span!= '.'
				.counter-container
					.counter(data-bind="visible: showUnreadCounter, text: unreadCounter")
					.icon(data-bind="visible: !showUnreadCounter(), css: iconClass")