#change-topic(data-bind="with: changeTopic, visible: navigation.changingTopic")
	.prompt Change the topic for this conversation:
	div
		textarea(placeholder="Write a topic or question", maxlength=500, data-bind="value: newTopic, valueUpdate: 'input', event: { keypress: updateOnEnter }")
	.buttons-row
		button.button-right(type="button", data-bind="click: updateOnClick") Save
		button.button-left(type="button", data-bind="click: cancel") Cancel