script(id="convo-template", type="text/html")
	.convo.collaboration-object(data-bind="visible: active, css : { 'collaboration-object-left': isLeft, 'collaboration-object-right': isRight } ")
		.collaboration-object-header(data-bind="click: markAsRead")
			.topic
				span(data-bind="text: topic")
				span.icon-pencil(alt="change topic", data-bind="click: $root.changeTopic.click")										
			.actions
				span.action-icon.icon-info(data-bind="click: ui.toggleInfo")
				span.action-icon.icon-search(data-bind="click: search.show")
			.search.hidden
				.textbox
					input(type="text", name="search-query", data-bind="value: search.query, valueUpdate: 'input', event: { keypress: search.nextOnEnter }")
					img(src="/images/spinner.gif", alt="searching...", data-bind="visible: search.searching")
				.buttons
					button.next(type="button", data-bind="click: search.next") Find Next
					button.prev(type="button", data-bind="click: search.prev") Find Prev
					button.done(type="button", data-bind="click: search.done") Done
				.exhausted(data-bind="visible: search.exhausted")
					span Your search reached the end of the conversation.
			.info.hidden
				div
					span.label by:
					span.value(data-bind="text: createdBy")
				div
					span.label on:
					span.value(data-bind="text: timestamp")

				div
					span.label with:
					span(data-bind="visible: forEntireGroup") entire group
					span(data-bind="visible: !forEntireGroup, text: users")

		.nano.collaboration-object-body(data-bind="click: markAsRead")
			.content(data-bind="event: { scroll: scrolled }")
				.load-more(data-bind="visible: loadingMore")
					img(src="/images/spinner.gif", alt="loading...")
				.messages(data-bind="foreach: items")
					.item(data-bind="attr: { id: id }")
						.author(data-bind="text: createdBy")
						.time
							span(data-bind="text: timestamp, visible: confirmedSent")
							img.pending-timer(src="/images/spinner.gif", alt="waiting for confirmation...", width="14", height="14", data-bind="visible: !confirmedSent()")
						.text(data-bind="html: content")
		.collaboration-object-footer(data-bind="click: markAsRead")
			textarea(tabindex="2", placeholder="Write a new message", rows="2", maxlength=2000, data-bind="value: newItem, valueUpdate: 'input', event: { keypress: sendMessage }, hasfocus: hasFocus")