input#collaborationObjects(type="hidden", value=collaborationObjects)
input#desktop(type="hidden", value=desktop)
input#currentUser(type="hidden", value=currentUser)
input#group(type="hidden", value=group)