doctype
html
	head
		include css
		title= title
	body
		include header
		#main-timer
			img(src="/images/spinner.gif", alt="loading...")

		#content.hidden
			#content-timer(data-bind="visible: desktop.loading")
				img(src="/images/spinner.gif", alt="loading...", width="75", height="75")
				
			#strip-collaboration-objects
				include strip
				include collaboration-objects
							
			include archive		
			include new-collaboration-object
			include change-topic
			include notification-setup
			include group
					
	include audio
	include data
	include js