doctype
html
	head
		include css
		title= title
	body
		include header
		#main-timer
			img(src="/images/spinner.gif", alt="loading...")

		#content.hidden
			#content-timer(data-bind="visible: desktop.loading")
				img(src="/images/spinner.gif", alt="loading...", width="75", height="75")
				
			#strip-convos
				include strip
				include conversations
							
			include all-conversations		
			include new-conversations
			include change-topic
			include notification-setup
			include group-info
			include tasks
					
	include audio
	include data
	include js