#new-convo(data-bind="with: newConversation, visible: navigation.showingNewConvo")
	p 
		span Who would you like to have this conversation with?
	div
		select#members-select(multiple="true", data-bind="options: options, optionsText: 'text', optionsValue: 'value', selectedOptions: selectedOptions")
	p
		span Write a topic or question	
	div
		textarea(maxlength=500, data-bind="value: topic, valueUpdate: 'input', event: { keypress: createOnEnter }")

	.buttons				
		button.button-left(type="button", data-bind="click: cancel") Cancel
		button.button-right(type="button", data-bind="click: createOnClick") Create