#notification-setup(data-bind="visible: navigation.showingNotificationSetup")
	p 
		span For a better experience, please allow 
		span= title
		span  to request permissions to show rich notifications

	.buttons
		button.button-left(type="button", data-bind="click: cancelNotificationsSetup") Don't Allow
		button.button-right(type="button", data-bind="click: allowNotificationsSetup") Allow