#strip(data-bind="with: desktop, visible: navigation.showingDesktop")					
	.nano#tiles
		.content(data-bind="foreach: collaborationObjects")
			.tile(data-bind="css: { highlight: active }, click: $parent.activate")
				.highlight-placeholder
					.tile-text(data-bind="text:topic")
					.tile-icons
						.icon-move-handle(data-bind="click: function(){}, clickBubble: false")
						.icon-dismiss(data-bind="click: $parent.remove")
						div(data-bind="visible: !showUnreadCounter(), css: iconClass")
						.tile-counter(data-bind="visible: showUnreadCounter, text: unreadCounter")
	#new-message-bar(data-bind="css: { active: $root.hasUnread }")
	#new-tile(data-bind="click: $parent.addNewConversation")				
		.icon-plus
		#new-collaboration-object-text new