script(id="task-list-template", type="text/html")
	.collaboration-object(data-bind="visible: active, css : { 'collaboration-object-left': isLeft, 'collaboration-object-right': isRight }", tabindex=0)
		.collaboration-object-header(data-bind="click: markAsRead")
			.topic
				span(data-bind="text: topic")									
			.actions
				span.action-icon.icon-info(data-bind="click: ui.toggleInfo")
				span.action-icon.icon-pencil(data-bind="click: $root.changeTopic.click")	
			.info.hidden
				div
					span.label by:
					span.value(data-bind="text: createdBy")
				div
					span.label on:
					span.value(data-bind="text: timestamp")

				div
					span.label with:
					span(data-bind="visible: forEntireGroup") entire group
					span(data-bind="visible: !forEntireGroup, text: users")

		.nano.collaboration-object-body(data-bind="click: markAsRead")
			.content
				div(data-bind="foreach: items")
					.item.task(data-bind="attr: { id: id }, css: { complete: isComplete }")
						.input-container(data-bind="visible: !isUpdating()")
							input.checkbox(type='checkbox', data-bind="click: toggleComplete, checked: isComplete, visible: !processing()")
							img.pending-timer(src="/images/spinner.gif", alt="processing...", width="14", height="14", data-bind="visible: processing")
						
						.text(data-bind="visible: !isUpdating()")
							span.task-content(data-bind="html: content")
							span.assigned-to(data-bind="text: assignedTo")
						
						textarea(rows=1, data-bind="value: updatedContent, visible: isEditing, valueUpdate: 'input', event: { keypress: updateKeyPress }")
						select(data-bind="visible: isAssigning, options: $parent.users, optionsText: 'fullName', optionsValue: 'id', value: updatedAssignedToId")

						.icons(data-bind="visible: !isUpdating()")
							span.icon.icon-info(data-bind="click: toggleDetails, css: { selected: showDetails }")
							span.selected.icon.icon-menu(data-bind="visible: showMenu")
							span.icon.icon-menu(data-bind="click: showPopupMenu, visible: !showMenu()")

						.menu(data-bind="visible: showMenu, hasFocus: menuHasFocus", tabindex=0)
							ul
								li(data-bind="click: startEdit") Edit
								li(data-bind="click: $parent.removeTask") Remove
								li(data-bind="click: startAssign") Assign
						
						.buttons(data-bind="visible: isUpdating")
							button.blue-button(type="button", data-bind="click: update") Save
							button.white-button(type="button", data-bind="click: cancel") Cancel
						
						div(style="clear: both")
						
						.details(data-bind="visible: showDetails")
							div
								span.label by: 
								span.value(data-bind="text: createdBy")
							div
								span.label on:
								span.value(data-bind="text: formattedTimestamp")
							div(data-bind="visible: isComplete")
								span.label completed by:
								span.value(data-bind="text: completedBy") 
							div(data-bind="visible: isComplete")
								span.label on:
								span.value(data-bind="text: completedOn")
		.collaboration-object-footer(data-bind="click: markAsRead")
			textarea(tabindex="2", placeholder="Write a new task", rows="2", maxlength=2000, data-bind="value: newItem, valueUpdate: 'input', event: { keypress: addTask }, hasfocus: hasFocus")