doctype
html
	head
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/normalize.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/fonts.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
		title= title
	body!=body

	script(data-main="/scripts/client/index", src="/scripts/lib/require.js")