#login
	#prompt 
		span Sign In to 
		span= title
	.form-container
		form(method='post', action="/login")					
			input#email.field(type="email", name="email", placeholder="Email")
			input#password.field(type="password", name="password", placeholder="Password")
			input.button(type="submit", value="Sign In")
	if showFlashError
		#flash.error= error
	if showFlashInfo
		#flash.info= info
