#sign-up
	#prompt 
		span Sign up for group 
		span= group
	.form-container
		form(method='post', action='/create-user')
			input(type='hidden', name='group', value=group)
			input#username.field(type="text", name="username", placeholder="Username")
			input.field(type="password", name="password", placeholder="Password")
			input.field(type="password", name="password2", placeholder="Verify password")
			input.button(type="submit", value="Sign Up")
	if showFlash
		#flash= info