#sign-up
	#prompt 
		span Sign up for group 
		span= group
	.form-container
		form(method='post', action='/create-user')
			input(type='hidden', name='group', value=group)
			div.row
				input#email.field.large-field(type="email", name="email", placeholder="Email")
				input.field.large-field(type="text", name="name", placeholder="Name")
				input.field(type="password", name="password", placeholder="Password")
				input.field(type="password", name="password2", placeholder="Verify password")
			
			input.button(type="submit", value="Sign Up")
	if showFlash
		#flash= info