doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/index/bootstrap.css")

		if production_mode
			link(rel="stylesheet", type="text/css", href="/stylesheets/release/compiled.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/release/style.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/release/index.css")
		else
			link(rel="stylesheet", type="text/css", href="/stylesheets/lib/normalize.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/lib/fonts.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")
		
		title= title
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand.pull-left(href="#") Dobly
					.nav-collapse.collapse
						ul.nav.pull-right
							li
								a(href="http://twitter.com/doblychat", target="_blank") Follow us on Twitter
							li
								a(href="http://doblychat.blogspot.com", target="_blank") Check out our blog
							li
								a(href="/login") Sign In
		.container
			.hero-unit
				h1 Dobly
				p Collaborate simply. Work better.
			.row-fluid
				.span4
					h2 Designed for teams
					p Create topics to communicate efficiently. Exchange messages and ideas. Manage task lists. Have multiple conversations at the same time.
				.span4
					h2 Access it from anywhere
					p Interact with your team from your mobile or desktop device. No software to install, just open up your web browser.
				.span4
					h2 Alpha version ready
					p The alpha version is ready to use. Upcoming features are mobile access and task lists.

script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
script(type="text/javascript", src="/scripts/lib/index/bootstrap.js")