doctype
html
	head
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/index/bootstrap.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/lib/fonts.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")
		title= title
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand.pull-left(href="#") Dobly
					.nav-collapse.in.collapse
						ul.nav.pull-right
							li
								a(href="http://twitter.com/doblychat", target="_blank") Follow us on Twitter
							li
								a(href="http://doblychat.blogspot.com", target="_blank") Check out our blog
							li
								a(href="/login") Sign In
		.container
			.hero-unit
				h1 Dobly
				p Collaborate simply. Work better.
			.row-fluid
				.span6
					h2 Designed for teams
					p Create topics to communicate efficiently. Exchange messages and ideas. Manage task lists. Have multiple conversations at the same time.
				.span6
					h2 Access it from anywhere
					p Interact with your team from your mobile or desktop device. No software to install, just open up your web browser.

script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
script(type="text/javascript", src="/scripts/lib/index/bootstrap.js")