@header-height: 50px;
@convo-width: 500px;
@standard-margin: 10px;
@dual-convo-width: (@convo-width * 2) + @standard-margin;

@blue: #33B5E5;
@white: #FFFFFF;
@light-gray: #C3C3C3;
@gray: #333333;
@black: #222;
@muted: #999;

@sans: MuseoSlab-500;
@sans-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif;
@arial: Arial;

@text-size: 14px;

html {
	background-color: @white;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	height: 100%;
	font-family: @sans-serif;
	font-size: @text-size;
}

body {
	background: transparent;
	margin: 0;
	height: 100%;
}

.centered {
	margin: 0 auto;
}

.margin-bottom {
	margin-bottom: @standard-margin;
}

.margin-top {
	margin-top: @standard-margin;
}

.margin-left {
	margin-left: @standard-margin;
}

.margin-right {
	margin-right: @standard-margin;
}

@import "active/icons";

@import "active/header";

@import "active/convos";

@import "active/strip";

@import "active/all_convos";