@header-height: 50px;
@standard-margin: 10px;
@convo-width: 500px;
@tile-width: 150px;

@blue: #33B5E5;
@red: #ffafbf;
@white: #FFFFFF;
@light-gray: #C3C3C3;
@gray: #333333;
@black: #222;
@muted: #999;

@sans: MuseoSlab-500;
@sans-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif;
@arial: Arial;

@text-size: 14px;

@thick-gray-border: 2px solid @light-gray;

html {
	background-color: @white;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-y;
	background-position: top left;
	height: 100%;
	font-family: @sans-serif;
	font-size: @text-size;
}

body {
	background: transparent;
	margin: 0;
	height: 100%;
}

.hidden{
	display: none;
}

audio{
	.hidden;
}

.centered {
	margin: 0 auto;
}

.middle-of-screen {
	position: fixed;
	top: 50%;
	left: 50%;
}

.margin-bottom {
	margin-bottom: @standard-margin;
}

.margin-top {
	margin-top: @standard-margin;
}

.margin-left {
	margin-left: @standard-margin;
}

.margin-right {
	margin-right: @standard-margin;
}

.float-parent {
	display: table;
	line-height: 0;
	content: "";
	clear: both;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.counter-box-shadow {
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
}

.counter-common {
	background: @blue;
	text-align: center;	
	font-weight: bold;
	.counter-box-shadow;
}

.title-color {
	color: @gray;
}

.caption-color {
	color: @muted;
}

.text-color {
	color: @gray;
}

.placeholder-color {
	color: #aaa;
}

.blue-button {
	background: @blue;
	color: @white;
	border: none;
	line-height: 1;
}

.light-gray-button {
	background: @light-gray;
	color: @white;
	border: none;
	line-height: 1;	
}

.box-shadow {
	-moz-box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.7);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.7);
	-o-box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.7);
	box-shadow: 0px 0px 10px 0px rgba(33, 33, 33, 0.7);
}

#spinner{
	.middle-of-screen;

	@spinner-dimension: 75px;

	margin-left:-@spinner-dimension/2;
	margin-top:-@spinner-dimension/2;

	img{
		width:@spinner-dimension;
		height:@spinner-dimension;	
	}
}

@import "client/login";

@import "client/icons";

@import "client/header";

@import "client/strip_convos";

@import "client/convos";

@import "client/strip";

@import "client/all_convos";

@import "client/dialog";

@import "client/group";
