@load-more-height: 25px;

.convo {
	.collaboration-object-header {	
		.search {
			.action-box;

			padding: 32px 0 10px 0;
			text-align: center;

			.textbox {
				position: relative;

				input {
					width: 97%;
					padding-left:5px;
					font-size: @text-size + 4px;
				}

				img{
					position: absolute;
					top: 4px;
					right: 6px;
					width: 20px;
					height: 20px;
				}
			}

			.buttons {

				button {
					margin-top: 10px;
					width: 85px;
					height: 25px;

					&.next {
						.blue-button;
					}

					&.prev {
						.light-gray-button;
						margin-left: 5px;
						margin-right: 5px;
					}

					&.done {
						.light-gray-button;
					}
				}
			}

			.exhausted {
				margin-top: 7px;
				line-height: 2;
			}
		}
	}

	.load-more{
		height: @load-more-height;
		text-align: center;
		padding-top: @load-more-height/4;

		img{
			width: 25px;
			height: 25px;
		}
	}

	.message {
		.author {
			.caption-color;
			float: left;
		}

		.time {
			float: right;

			span{
				font-size: @text-size - 1px;
				.caption-color;
			}
			
			.pending-timer{
				width: 14px;
				height: 14px;
			}
		}

		.text {
			padding-top: 5px;
			clear: both;
		}

		.highlight {
			background: @highlighter-orange;
		}

		&.match {
			background: @highlighter-yellow;
		}
	}
}