@convo-title-text-size: 20px;

@message-top-padding: 10px;
@message-bottom-padding: 10px;
@message-left-padding: 25px;
@message-right-padding: 25px;

@new-message-top-padding: 7px;
@new-message-bottom-padding: 10px;
@new-message-left-padding: 13px;
@new-message-right-padding: 13px;

@textarea-height: 46px;

.title-font {
	font-size: @convo-title-text-size;
	font-weight: bold;
	.title-color;
}

.convo-left {
	float: left;
}

.convo-right {
	float: right;
}

.message-padding {
	padding: @message-top-padding @message-right-padding @message-bottom-padding @message-left-padding;
}

#convos .convo {
	width: @convo-width;
	height: 100%;
	background: @white;
	.box-shadow;

	.convo-header {	
		.message-padding;
		border-bottom: @thick-gray-border;

		.topic {
			.title-font;
			width: 100%;

			*{
				width: 80%;
			}

			div{
				border: 2px solid white;

				&:hover{
					border-color: @blue;
				}
			}

			textarea{
				padding: 0;
				border: 2px;
			}
		}

		.created-by {
			.caption-color;
			padding-top: 5px;
		}
	}

	.message {
		.message-padding;
		border-bottom: 1px solid @light-gray;

		&:last-child {
			border-bottom: 0;
		}

		.author {
			.caption-color;
			float: left;
		}

		.time {
			.caption-color;
			float: right;
			font-size: @text-size - 1px;
		}

		.text {
			.text-color;
			clear: both;
			padding-top: 5px;
			line-height: 1.5;
			word-wrap:break-word;
		}
	}

	.convo-new-message {
		padding: @new-message-top-padding @new-message-right-padding @new-message-bottom-padding @new-message-left-padding;
		border-top: @thick-gray-border;

		textarea {
			border: none;
			resize: none;
			width: 100%;
			height: @textarea-height;
			font-size: @text-size + 4px;

			&:focus{
				outline: none;
			}

			&.placeholder {
				.placeholder-color;
			}
		}
	}
}