@text-input-outer-width: 620px;
@text-input-outer-height: 109px;
@text-input-border-size: 2px;
@text-input-padding-right: 20px;
@text-input-padding-left: 20px;
@text-input-padding-top: 15px;
@text-input-padding-bottom: 0;

.dialog {
	width: @text-input-outer-width;
	font-family: @sans;
	font-weight: bold;
	font-size: 20px;
	.middle-of-screen;
	margin-top: -@text-input-outer-height;
	margin-left: -(@text-input-outer-width/2);

	.buttons {
		float: right;

		.button-left {
			width: 140px;
			height: 50px;
			.light-gray-button;
			margin-right: 20px;
		}

		.button-right {
			width: 220px;
			height: 50px;
			.blue-button;			
		}
	}
}

.text-input-dialog {
	.dialog;

	textarea {
		width: @text-input-outer-width - (@text-input-border-size * 2) - @text-input-padding-right - @text-input-padding-left;
		height: @text-input-outer-height - (@text-input-border-size * 2) - @text-input-padding-top - @text-input-padding-bottom;
		border: @thick-blue-border;
		.text-color;
		padding: @text-input-padding-top @text-input-padding-right @text-input-padding-bottom @text-input-padding-left;
		resize: none;
		line-height: 1.3;
		margin-bottom: 20px;

		&:focus {
			outline: none;
		}

		&:-moz-placeholder {
			.placeholder-color;
		}

		&.placeholder {
			.placeholder-color;
		}
	}
	
}

#new-convo {
	.text-input-dialog;
	top: 40%;

	@chzn-height: 56px;

	p{
		margin-bottom: 0.2em;
		color: @gray;
	}

	#members_select_chzn{
		border: @thick-blue-border;
		width: @text-input-outer-width - 3px !important;
		height: @chzn-height;

		.margin-bottom;
		
		.chzn-choices{
			padding: 10px;
			height: @chzn-height !important;
			border: none;
			background-image: none;
		}

		.search-choice{
			padding-top: 10px;
			border-color: @blue;
			border-radius: 0;
			-moz-border-radius: 0;
		}
	}
}

#notification-setup {
	.dialog;

	#buttons {
		float: right;

		#create {
			width: 220px;
			height: 50px;
			.blue-button;			
		}

		#cancel {
			width: 140px;
			height: 50px;
			.light-gray-button;
			margin-right: 20px;
		}
	}
}