@text-input-outer-width: 620px;
@text-input-outer-height: 109px;
@text-input-border-size: 2px;
@text-input-padding-right: 20px;
@text-input-padding-left: 20px;
@text-input-padding-top: 15px;
@text-input-padding-bottom: 0;

.dialog {
	font-family: @sans;
	font-size: 20px;
	.text-color;
	.white-box-shadow;

	.prompt {

	}
}

#notification-setup {
	.dialog;
	.middle-of-screen;
	margin-top: -@text-input-outer-height;
	margin-left: -(@text-input-outer-width/2);
	padding: 40px;
	width: 510px;
	line-height: 1.5;

	.buttons {
		float: right;
		margin-top: 30px;

		.button-left {
			width: 180px;
			height: 70px;
			.white-button;
			margin-right: 20px;
		}

		.button-right {
			width: 180px;
			height: 70px;
			.blue-button;			
		}
	}
}

#new-collaboration-object {
	.text-input-dialog;
	margin-top: 10px;

	.types-row {
		display: table;
		margin-bottom: 30px;

		.prompt {
			float: left;
			margin-right: 20px;
		}

		.types {
			float: right;
		}

		input[type="radio"] {
			margin-right: 6px;
		}
	}
}

#change-topic {
	.text-input-dialog;
	margin-top: 50px;
}

.text-input-dialog {
	.dialog;
	padding: 50px;
	width: @text-input-outer-width;
	.centered;

	.prompt {
		margin-bottom: 10px;
	}

	textarea {
		width: @text-input-outer-width - (@text-input-border-size * 2) - @text-input-padding-right - @text-input-padding-left;
		height: @text-input-outer-height - (@text-input-border-size * 2) - @text-input-padding-top - @text-input-padding-bottom;
		border: @thick-gray-border;
		.text-color;
		padding: @text-input-padding-top @text-input-padding-right @text-input-padding-bottom @text-input-padding-left;
		resize: none;
		line-height: 1.3;
		margin-bottom: 30px;

		&:focus {
			outline: none;
			border: @thick-blue-border;
		}

		&:-moz-placeholder {
			.placeholder-color;
		}

		&.placeholder {
			.placeholder-color;
		}
	}

	@chzn-height: 56px;

	#members_select_chzn{
		border: @thick-gray-border;
		width: @text-input-outer-width - 3px !important;
		height: @chzn-height;
		margin-bottom: 30px;

		&.chzn-container-active {
			border: @thick-blue-border;
		}
		
		.chzn-choices{
			padding: 10px;
			height: @chzn-height !important;
			border: none;
			background-image: none;
		}

		.search-choice{
			padding-top: 10px;
			border-color: @light-gray;
			border-radius: 0;
			-moz-border-radius: 0;

			.search-choice-close{
				background-position-y: 3px;
			}
		}

		.search-field{
			input{
				padding-top: 13px;
				font-family: inherit;
			}
		}
	}
	
	.buttons-row {
		display: table;
		width: 100%;
		margin-top: 10px;

		.button-left {
			float: right;
			width: 180px;
			height: 70px;
			.white-button;
			margin-right: 20px;
		}

		.button-right {
			float: right;
			width: 180px;
			height: 70px;
			.blue-button;			
		}
	}
}

.info-dialog{
	background-color: @white;
	.box-shadow;
	padding: 30px 40px;

	.header {
		padding-bottom: 5px;
		border-bottom: 1px solid @light-gray;
		margin-bottom: 20px;

		h2{
			margin: 0;
			font-size: @header-size;
			text-transform: none;
			color: @gray;
		}
	}
}

#group-grid{
	.centered;
	width: 400px;
	margin-top: 50px;
	font-size: @title-size;

	#info {
		.info-dialog;

		.users {
			tr td{
				padding-bottom: 10px;
			}
			.name{
				min-width: 230px;
				padding-right: 10px;
			}

			.online {
				color: @blue;
			}

			.offline {
				color: @light-gray;
			}	
		}
	}
}