.icon {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-plus:before {
	.icon;
	content: "\e000";
}
.icon-dismiss:before {
	.icon;
	content: "\e002";
}
.icon-move-handle:before {
	.icon;
	content: "\e003";
}
.icon-pencil:before {
	.icon;
	content: "\e001";
}