
@prompt-height: 36px;
@prompt-margin-bottom: 30px;
@form-margin-bottom: 30px;
@field-outer-width: 260px;
@field-outer-height: 70px;
@field-padding-left: 20px;
@field-padding-right: 20px;
@field-padding-top: 0;
@field-padding-bottom: 0;
@field-margin-right: 20px;
@field-width-offset: (@thick-border-size * 2) + @field-padding-right + @field-padding-left;
@field-height: @field-outer-height - (@thick-border-size * 2) - @field-padding-top - @field-padding-bottom;

.simple-form {
	font-family: @sans;
	font-weight: bold;
	.middle-of-screen;
	margin-top: -@prompt-height - @prompt-margin-bottom - @field-outer-height;

	#prompt {
		height: @prompt-height;
		font-size: @prompt-height;
		line-height: 1;
		.text-color;
		margin-bottom: @prompt-margin-bottom;
	}

	.form-container {
		.float-parent;
		margin-bottom: @form-margin-bottom;

		.field {
			height: @field-height;		
			margin-right: @field-margin-right;
			border: @thick-blue-border;
			float: left;
			background: @white;
			.text-color;
			padding: @field-padding-top @field-padding-right @field-padding-bottom @field-padding-left;
			outline: none;

			&:-moz-placeholder {
				.placeholder-color;
			}

			&.placeholder {
				.placeholder-color;
			}
		}

		.button {
			width: 140px;
			height: 70px;
			.blue-button;			
		}
	}

	#flash {
		height: 40px;
		padding-left: @field-padding-left;
		padding-right: @field-padding-right;
		font-size: 16px;
		background: @red;
		line-height: 2.5;
		.text-color;
	}
}

@flash-width-offset: @field-padding-left + @field-padding-right;;

@login-width: 720px;
@login-email-outer-width: 360px - @field-width-offset;
@login-password-outer-width: 180px - @field-width-offset;

#login {
	.simple-form;
	font-size: 20px;
	width: @login-width;
	margin-left: -(@login-width/2);

	.form-container{
		input {
			&#email {
				width: @login-email-outer-width;
			}

			&#password {
				width: @login-password-outer-width;
			}

			&.button {
				float: right;
			}
		}
	}

	#flash {
		width: @login-width - @flash-width-offset;
	}
}

@signup-width: 1020px;
@signup-email-outer-width: 340px - @field-width-offset;
@signup-name-outer-width: 210px - @field-width-offset;
@signup-password-outer-width: 205px - @field-width-offset;

#sign-up {
	.simple-form;
	font-size: 20px;
	width: @signup-width;
	margin-left: -(@signup-width/2);

	.form-container{
		.row {
			.float-parent;
			margin-bottom: @form-margin-bottom;

			input {
				&#email {
					width: @signup-email-outer-width;
				}

				&#name {
					width: @signup-name-outer-width;
				}

				&#password {
					width: @signup-password-outer-width;
				}

				&#verify {
					width: @signup-password-outer-width;
					margin-right:0;
				}
			}
		}
		.submit {
			float: right;
		}
	}

	#flash {
		width: @signup-width - @flash-width-offset;
	}
}