@signup-width: 1020px;
@signup-email-outer-width: 340px - @field-width-offset;
@signup-name-outer-width: 210px - @field-width-offset;
@signup-password-outer-width: 205px - @field-width-offset;

#sign-up {
	.simple-form;
	font-size: 20px;
	width: @signup-width;
	margin-left: -(@signup-width/2);

	.form-container{
		.row {
			.float-parent;
			margin-bottom: @form-margin-bottom;

			input {
				&#email {
					width: @signup-email-outer-width;
				}

				&#name {
					width: @signup-name-outer-width;
				}

				&#password {
					width: @signup-password-outer-width;
				}

				&#verify {
					width: @signup-password-outer-width;
					margin-right:0;
				}
			}
		}
		.submit {
			float: right;
		}
	}

	#flash {
		width: @signup-width - @flash-width-offset;
	}
}

