@tile-height: 79px;
@tile-padding: 5px;

@tile-text-top-padding: 10px;
@tile-text-bottom-padding: 2px;
@tile-text-left-padding: 9px;
@tile-text-right-padding: 9px;
@tile-bottom-border-size: 1px;
@tile-highlight-border-size: 5px;

@tile-count: 2;

@tile-inner-height: @tile-height - (@tile-bottom-border-size);
@tile-inner-width: @tile-width;
@tile-text-height: 35px;
@tile-icons-height: @tile-inner-height - (@tile-text-height + @tile-text-top-padding + @tile-text-bottom-padding);

.tile-common {
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: @white;
}

.tile-icons-common {
	float: left;
	font-size: 14px;
	color: lighten(@gray, 40%);
	padding: 4px 4px 10px 4px;
}

.tile-icons-common-hover {
	color: @gray;
}

.tile {
	.tile-common;
	border-bottom: @tile-bottom-border-size solid @light-gray;
	height: @tile-inner-height;
	width: @tile-inner-width;	

	.highlight-placeholder {
		border-left: @tile-highlight-border-size solid @white;
		border-right: @tile-highlight-border-size solid @white;

		.tile-text {
			padding: @tile-text-top-padding @tile-text-right-padding @tile-text-bottom-padding @tile-text-left-padding;
			height: @tile-text-height;
			overflow: hidden;
		}

		.tile-icons {
			height: @tile-icons-height;

			.icon-move-handle {
				cursor: move;
				.tile-icons-common;
				padding-left: 9px;

				&:hover {
					.tile-icons-common-hover;
				}
			}		

			.icon-dismiss {
				.tile-icons-common;

				&:hover {
					.tile-icons-common-hover;
				}
			}

			.tile-counter {
				.counter-common;
				padding: 0 7px;
				height: 25px;
				float: right;			
				font-size: 20px;
				line-height: 1.1;
				margin-right: 1px;
			}
		}
	}
}

.tile.highlight .highlight-placeholder {
	border-left: @tile-highlight-border-size solid @blue;
}

.tile.ui-sortable-helper {
	border: @tile-bottom-border-size solid @light-gray;
}

.ui-sortable-placeholder + .tile {
	border-top: @tile-bottom-border-size solid @light-gray;
}

@new-convo-tile-height: 67px;
@new-convo-tile-top-padding: 8px;

#new-convo-tile {
	.tile-common;
	height: @new-convo-tile-height - @new-convo-tile-top-padding;
	width: @tile-width;
	padding-top: @new-convo-tile-top-padding;
	text-align: center;
	border-top: @thick-gray-border;
}

#new-convo-tile.disabled {
	cursor: default;
	color: @muted;
}

#new-convo-tile .icon-plus {
	font-size: 24px;
}