#tasks{	
	.centered;
	padding: 0 20px;
}

#tasks-content{
	.centered;
	width: 800px;
	position: relative;
	left: 50px;
}

#task-lists{
	width: 150px;
	float:left;
	font-size: 1em;

	.task-list{
		&.active{
			font-size: 1.4em;
			font-weight: bold;
		}

		cursor: pointer;
		margin-bottom: 5px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.add-task-list{
		margin-top: 10px;
		color: @blue;
		cursor: pointer;
		
		.icon-plus{
			margin-right: 5px;
			font-size: 20px;
		}
	}
}

#open-task-list{
	margin-left: 20px;
	float:left;

	.task-list{
		@width: 500px;
		.box-shadow;

		width: @width;
		background-color: @white;


		.head{
			h2{
				margin: 0;
				padding: 10px 15px;
			}
			border-bottom: 1px solid @light-gray;
		}
		.new-task-form{
			@padding-sides: 30px;
			padding: 10px @padding-sides;
			border-bottom: 1px solid @light-gray;

			input{
				font-size: 15px;
				.centered;
				width: 405px;
				padding: 0 15px;
				border: @thick-blue-border;
				margin-right: @standard-margin;
				height: 30px;
			}
		}
		
		.tasks{
			margin: 0;
			padding: 0;
			list-style-type: none;

			.task{
				padding: 10px 15px;
				border-bottom: 1px solid @light-gray;

				.check{
					margin-right: 15px;
				}

				.description{
					&.complete{
						text-decoration: line-through;
					}
				}
			}
		}
	}
}