if invalidEmails
	.error An email you entered is not valid.
if inviteError
	.error There was an error sending your invitation, please try again.
if invitationsSent
	.success Invitations sent out. Click 'Done' to continue.
	
.prompt2 Invite other people to your group. Enter their email addresses below.
.row
	input.field(type="email", name="emails", placeholder="Email addresses", value=emails, required, multiple, autofocus)
div
	.button
		input.blue-button(type="submit", value="Invite")
	.button
		input.white-button(type="button", value="Done", onclick="location.href='/conversations'")