doctype
html
	head
		if production_mode
			link(rel="stylesheet", type="text/css", href="/stylesheets/release/compiled.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/release/form.css")
		else
			link(rel="stylesheet", type="text/css", href="/stylesheets/lib/normalize.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/lib/fonts.css")
			link(rel="stylesheet", type="text/css", href="/stylesheets/form.css")
		title= title
	body
		#header
			#logo
				img(src="/images/logo.png", alt="Dobly")
		!=body

	script(data-main="/scripts/client/index", src="/scripts/lib/require.js")