#user-signup
	form(method='post', action=formAction)
		.prompt1
			span Sign up to use 
			span= title

		include validation-errors

		.row 
			input.field(type="text", name="firstname", placeholder="First name", value=firstname, required)
		.row 
			input.field(type="text", name="lastname", placeholder="Last name", value=lastname, required)
		.row 
			input.field(type="password", name="password", placeholder="Password", required)
		.row 
			input.field(type="password", name="password2", placeholder="Verify password", required)
		.button 
			input(type="submit", value="Sign Up")