#header {
	width: @dual-convo-width + 140px;
	height: @header-height;
	.centered;
	.margin-bottom;


	#logo {
		font-family: @sans;
		color: @blue;
		font-weight: bold;
		text-align: left;
		font-size: @header-height - 10px;
		text-shadow: @gray 0px 1px 2px;
		float: left;
		margin-top: 5px;
		.logo-font-chrome-ubuntu-fix;
	}

	.top-links {
		float: right;
		.margin-top;
		text-align: center;
		line-height: 41px;

		span, a {
			cursor: pointer;
			color: @blue;
			text-decoration: none;
			font-size: 1.3em;
			margin-left: 5px;
			margin-right: 5px;
			font-weight: bold;
		}
	}
}

.logo-font-chrome-ubuntu-fix {
	width: 50px;
}