@tile-height: 50px;
@tile-width: 180px;
@tile-padding: 5px;

@tile-top-padding: 2px;
@tile-bottom-padding: 2px;
@tile-left-padding: 4px;
@tile-right-padding: 4px;
@tile-border-size: 3px;

@tile-count: 2;

#strip {
	width: (@tile-width * @tile-count) + (@standard-margin * (@tile-count - 1));
	.centered;
	height: @tile-height;
	.margin-bottom;
}

.tile-common {
	background: @light-gray;
	color: @gray;
	float: left;
	cursor: pointer;
}

.tile {
	.tile-common;
	.margin-right;
	border: @tile-border-size solid @light-gray;
	padding: @tile-top-padding @tile-right-padding @tile-bottom-padding @tile-left-padding;
	height: @tile-height - (@tile-top-padding + @tile-bottom-padding) - (@tile-border-size * 2);
	width: @tile-width - (@tile-left-padding + @tile-right-padding) - (@tile-border-size * 2);
}

.tile.highlight {
	border: @tile-border-size solid @blue;
}

#new-convo-tile {
	.tile-common;
	height: @tile-height;	
	width: @tile-width;
}

#new-convo-sign {
	font-family: 'arial black';
	font-size: 42px;
	font-weight: bold;
	line-height: 1.2;
	padding-left: 10px;
	float: left;
}

#new-convo-text {
	float: left;
	line-height: @tile-height;
	padding-left: 5px;
	vertical-align: center;
}